<div>
  <h3>Resumo sobre a Temperatura mínima e máxima e as datas que elas acontecerão</h3>
  <p class="min">Temperatura Mínima: {{ temperaturaMaxima }} °C, No dia {{ datatemperaturaMinima}}</p>
  <p class="max">Temperatura Máxima: {{ temperaturaMinima }} °C, No dia {{ datatemperaturaMaxima}}</p>
</div>


<div class="container-table" *ngIf="climaDados">
  <table>
    <thead>
      <tr>
        <th class="first">Time</th>
        <th class="second">Temperature (°C)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let time of climaDados.hourly.time; let i = index">
        <td>{{ datatemperaturaMinima }}</td>
        <td>{{ climaDados.hourly.temperature_2m[i] }} °C</td>
      </tr>
    </tbody>
  </table>
</div>
