<div>Digite uma Latitude e Longitude para saber a temperatura do dia nesse local</div>

<div>
  <form (submit)="submitForm()"  class="forms">
    <div class="form-group">
      <label for="latitude">Latitude</label>
      <input type="text" id="latitude" name="latitude" [(ngModel)]="latitude" required>
    </div>
    <div class="form-group">
      <label for="longitude">Longitude</label>
      <input type="text" id="longitude" name="longitude" [(ngModel)]="longitude" required>
    </div>
    <div class="form-group">
      <label for="date">Data</label>
      <input type="date" id="date" name="date" [(ngModel)]="date" required>
    </div>
    <button type="submit">
      <img src="../../../assets/search-.svg" alt="">
    </button>
  </form>
</div>

<div class="container-table" *ngIf="climaDados">
  <table>
    <thead>
      <tr>
        <th class="first">Latitude</th>
        <th>Longitude</th>
        <th>Elevação</th>
        <th>Temperatura Mínima</th>
        <th class="second">Temperatura Máxima</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ climaDados.latitude }}</td>
        <td>{{ climaDados.longitude }}</td>
        <td>{{ climaDados.elevation }}</td>
        <td>{{ climaDados.hourly.temperature_2m[0] }}°C</td>
        <td>{{ climaDados.hourly.temperature_2m[23] }}°C</td>
      </tr>
    </tbody>
  </table>
</div>
